<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <!--<add name="ATOMSDB" connectionString="Data Source=(local);Initial Catalog=ATOMS;Integrated Security=true;" providerName="System.Data.SqlClient"/>
    <add name="TTFDB" connectionString="Data Source=(local);Initial Catalog=TTF1;Integrated Security=true;" providerName="System.Data.SqlClient"/>
    <add name="TrainloadDB" connectionString="Data Source=QIZHANG\SERVER2008;Initial Catalog=Trainload_SMRT;Integrated Security=true;" providerName="System.Data.SqlClient"/>-->
    <add name="ATOMSDB" connectionString="Data Source=HQSQLCLUSB-APP1\SQLFARM01;Initial Catalog=ATOMS;Integrated Security=true;" providerName="System.Data.SqlClient"/>
    <add name="TTFDB" connectionString="Data Source=TESTSQL2K12\ATOMS;Initial Catalog=TTF;Integrated Security=true;" providerName="System.Data.SqlClient"/>
    <add name="TrainloadDB" connectionString="Data Source=HQSQLCLUSA-APP7\TRAINLOAD;Initial Catalog=Trainload;User ID=smrtdb;password=smrtDbManager;Connect Timeout=90000" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="TTFWebServerURL" value="http://localhost:49171/WebServices"/>
    <add key="AWSAccessKey" value="AKIAJ5HXTQIPB5KR65NQ"/>
    <add key="AWSSecretKey" value="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"/>
    <add key="AWSProfileName" value="connect_forecasting"/>
  </appSettings>

  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="TTFSetupData.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
